@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--theme-red);
    font-family: 'Lobster';
}
.loginForm{
    display: flex;
    width: 70vw;
    height: 80vh;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.432);
}
.login-img{
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url(../Images/login-image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.form{
    width:40%;
    padding:100px;
    padding: 5vw;
    box-sizing: border-box;
    background-color: #ff4151;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--theme-blue);
    display: flex;
    flex-direction: column;
}
.login-text{
    font-size: 60px;
    margin-bottom: 20px;
}
.input{
    border-bottom: 5px solid var(--theme-blue);
    background-color: inherit;
}
.input:focus{
    outline: none;
}
input{
    border: none;
    width: 100%;
    font-size: 30px;
    margin: 5px 0px;
    padding: 0px;
    padding-bottom: 5px;
    color: #2c474e;
}
input::placeholder{
    color:var(--theme-blue);
}
input[type="submit"]{
    margin-top: 40px;
    border-radius: 10px;
    font-weight: 900;
    color: var(--theme-red);
    background-color: var(--theme-blue);
}
input[type="submit"]:hover{
    cursor: pointer;
}
.newAccDiv{
    margin:20px 0px;
    text-align: center;
}
#newAcc{
    color: var(--theme-blue);
    font-style: normal;
    font-size: 1.3em;
    text-decoration: none;
}
#newAcc:hover{
    text-decoration: underline;
}
.photo-credits{
    text-align: center;
    font-size: 0.7em;
    /* margin-top: auto; */
    /* Uncomment above to take Image credits down */
}
.photo-credits>a{
    color:inherit;
    text-decoration: none;
}

/* Medium sized desktop screens */
@media (max-width:1600px) {
    .login-text {
        font-size: 40px;
    }

    .form {
        padding: 45px;
        padding-top: 50px;
    }

    .input {
        border-width: 2px;
    }

    input {
        font-size: 20px;
    }
}

/* Small Computer/Big Tablet screens */
@media (max-width:1400px) {
    .login-text{
        font-size: 40px;
    }
    .form{
        padding: 45px;
        padding-top: 30px;
    }
    .input{
        border-width: 2px;
    }
    input{
        font-size: 15px;
    }   
}
@media (max-width:850px) {
    .login-text{
        font-size: 35px;
    }
    .form{
        padding: 20px;
    }
    .input{
        border-width: 2px;
    }
    input{
        font-size: 13px;
    }   
    #newAcc{
        font-size: 1.1em;
    }
}

/* Mobile/Tablet screen */
@media (max-width:600px) {
    .loginForm{
        flex-direction: column;
    }
    .login-img{
        height: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
    }
    .loginForm>div{
        width: 100%;
    }
    .form{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
    input[type="submit"]{
        margin-top: 10px;
    }
    .login-text {
        margin-bottom: 10px;
    }
    .newAccDiv{
        margin:7px 0px;
    }
    .photo-credits{
        font-size: 0.5em;
    }
}