#sendMsg {
	width:70vw;
	position:absolute;
	bottom :0px;
	min-height:60px;
	background-color: grey;
	height: 10%;
	border-radius:10px;
}

#whole {
	background-color: antiquewhite;
	width: stretch;
	height:stretch;
	border-bottom-right-radius: 10px;
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	margin:auto;
	align-content:center;
}

#message {
	width: 85%;
	height: 100%;
	border:none;
	border-radius: 5px;
	display: inline-block;
	padding-left:10px;
}

#send {
	font-size: 40px;
	height: 100%;
	margin-left: 10px;
	margin-top:-7px;
	vertical-align: middle;
	display: inline-block;
	cursor:pointer;
	background-color:transparent;
	border:none;
}

#replyMsg {
	width: 96%;
	padding: 10px;
	padding-left: 40px;
	height: 40px;
	line-height: 40px;
	background-color: azure;
}

#cancel {
	position: absolute;
	right: 80px;
	font-size: 30px;
}
