body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main {
  border-radius: 10px;
  height: 90vh;
  width: 90vw;
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
}
.chat-list {
  width: 30%;
  background-color: #ff98a0;
  background-color: var(--theme-blue);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
}
.list{
	overflow:scroll;
	flex-basis: auto;
	justify-self: flex-end;
}
.list::-webkit-scrollbar { width: 5px; }
.list::-webkit-scrollbar-track { background-color:transparent; }
.list::-webkit-scrollbar-thumb { background: var(--theme-red); }
.list::-webkit-scrollbar-corner { background: transparent; }

.header {
  /* height: 10%; */
  background-color: var(--theme-red) !important;
  margin: 0px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  min-height: 90px;
}
.header-chat-list {
  flex-direction: column !important;
  flex-basis: 2;
  border-top-left-radius: 5px !important;
  color: inherit;
  text-decoration: none;
}
.header-chat-list-hover{
  position:absolute;
  width: inherit;
  height: inherit;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 3px;
  visibility: hidden;
}
.header-chat-list:hover .header-chat-list-hover{
  visibility: visible;
}
.chat-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  padding: 5px;
  border-bottom: 3px solid var(--theme-red);
}
.profile-pic {
  height: 60px;
  border-radius: 100px;
}
.chat-preview {
  padding-left: 8px;
  margin: auto;
  margin-left: 3px;
}
.chat-preview > div {
  margin: 5px;
  color:white;
}
.header-chat{
  border-left: 5px solid #ff98a0 !important;
	border-top-right-radius: 5px !important;
}
.chat-user {
    font-weight: 600;
    font-size: 1.1rem;
}
.chat-last-message {
  font-weight: 100;
  height: 1.4rem;
  overflow-y: hidden;
}

#newChat{
    text-align :center;
    height:40px;
    background:var(--theme-red);
    color:white;
    line-height:40px;
    border-radius:5px;
    margin:10px;
    cursor:pointer;
}

#newChat:hover{
  	background-color:#ff606d;
}
body{
  overflow:hidden;
}

.chat-list-card:hover{
    background-color:#ff606d !important;
    cursor:pointer;
}

#header-img{
    margin-left:20px;
}

#header{
    display:flex;
    align-items:center;
}
